.first-step-form {
    padding: 5% 10% 10% 10%
}

.first-step-button {
    width: 100%
}

.formula-row {
    display: flex;
    align-items: center;
}

.formula-row > input {
    display: block;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    max-width: 150px;
}

.formula-div {
    margin-top: 2rem;
}

.simplex-button > button{
    max-width: 150px;
    margin: 1rem;
}